GrpcVersusWcf/Connected Services/WcfReference/WcfService.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmptyMessage">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EmptyMessage" nillable="true" type="tns:EmptyMessage" />
  <xs:complexType name="DataRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" type="tns:DataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataRequest" nillable="true" type="tns:DataRequest" />
  <xs:simpleType name="DataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USER" />
      <xs:enumeration value="COMPANY" />
      <xs:enumeration value="CLIENT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataType" nillable="true" type="tns:DataType" />
  <xs:complexType name="DataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfDataRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataResponse" nillable="true" type="tns:DataResponse" />
  <xs:complexType name="ArrayOfDataRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataRecord" nillable="true" type="tns:DataRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataRecord" nillable="true" type="tns:ArrayOfDataRecord" />
  <xs:complexType name="DataRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataRecord" nillable="true" type="tns:DataRecord" />
</xs:schema>